@model MVC.Models.ViewModels.InventoryViewModel
@{
    ViewData["Title"] = "InventoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-2">

    <div class="card-header bg-dark text-light m-lg-0 row container">
        <div class="col-6">
            Add Detail
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="text-white" style="text-decoration:none;">Salir</a>
        </div>
    </div>

    <form method="post" class="p-2">
        <input asp-for="Inventory.Id" id="inventoryId" name="inventoryId" hidden />
        <div class="form-group mb-4">
            <label>Store</label>
            <input asp-for="Inventory.Store.Name" class="form-control" disabled />
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-3">
                <label class="text-primary">Add Detail</label>
            </div>
        </div>

        <div class="row mb-2">
            <div class="form-group col-md-8 mb-2">
                <select class="form-select" id="productId" name="productId">

                </select>
            </div>
            <div class="form-group col-md-2 mb-2">
                <input class="form-control text-end" placeholder="Quantity" type="number" min="1" id="quantity" name="quantity" />
            </div>
            <div class="form-group col-md-2 mb-2">
                <button type="submit" class="btn btn-primary" onfocus="false" id="btnAdd">
                    Add
                </button>
            </div>
        </div>
    </form>
    <table class="table table-striped border">
        <thead class="thead-dark">
            <tr class="table-secondary thead-dark">
                <th>Product</th>
                <th>Brand</th>
                <th>Cost</th>
                <th>Stock</th>
                <th>Quantity</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.InventoryDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(d => item.Product.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.Product.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.Product.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.LastStock)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.Quantity)
                    </td>
                    <td>
                        <a class="btn btn-primary text-white" asp-action="Add" asp-route-id="@item.Id">
                            <i class="bg-info bi-file-plus-fill"></i>
                        </a>
                        <a class="btn btn-primary text-white" asp-action="subtract" asp-route-id="@item.Id">
                            <i class="bg-info bi-file-minus-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(Model.InventoryDetails.Count()>0)
    {
        <div class="align-content-lg-center">
            <div class="col-2">
                <a class="btn btn-warning form-control" asp-action="AddStock" asp-route-id="@Model.Inventory.Id">
                    Add Stock
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {

    <script>
        $("#productId").select2({
            placeholder: "Select product",
            allowClear: true,
            theme:"bootstrap-5",
            ajax:{
                url:"/inventory/inventory/SearchProduct",
                contentType: "application/json; charset-utf-8",
                data: function(params) {
                    var query = 
                    {
                        term: params.term
                    };
                    return query;
                },
                processResults: function(result){
                    return {
                        results: $.map(result, function(item){
                            return {
                                id: item.id,
                                text: item.serie+' '+item.description
                            };
                        })
                    };
                }
            }
        });
    </script>
    <script>
        $("#btnAdd").click(function(){
            let quantity = document.getElementById("quantity").value;
            let product = document.getElementById("productId").value;
            if(quantity.toString() == '' || quantity<1)
            {
                Swal.fire("Error", "Cantidad mayor a cero", "error");
                return false;
            }
            if(product.toString() == ''){
                Swal.fire("Error", "Select product", "error");
                return false;
            }
        });
    </script>
}