@model MVC.Models.ViewModels.KardexViewModel
@using MVC.Utilities
@{
    ViewData["Title"] = "KardexResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Kardex de Producto";
}

<div class="container">
    @if (Model.KardexList.Count() > 0)
    {
        <div class="col-12 border-botton p-0">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="row mb-2">
                    <div class="form-group col-md-8 mt-2">
                        <label><strong class="m-2">Desde</strong>
                            @Model.StartDate.ToShortDateString()
                            <strong class="m-2">Hasta</strong>
                            @Model.LastDate.ToShortDateString()
                        </label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-md-8 mt-2">
                        <label>
                            <strong class="m-2">Producto:</strong>
                            @Model.Product.Description
                        </label>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <img src="@SD.ImagenRoute@Model.Product.ImageUrl" style="border-radius:5px; width:100px; height:100px" />
            </div>
        </div>


        <table class="table table-responsive table-hover table-bordered">
            @foreach(var store in Model.KardexList.GroupBy(x=>x.StoreProduct.Store.Name))
            {
                <thead class="table-secondary">
                    <tr>
                        <th colspan="6">@store.Key</th>
                        <th colspan="3" class="text-center">Saldo</th>
                    </tr>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Detalle</th>
                        <th class="text-center">LastStock</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Salida</th>
                        <th class="text-center">Stock</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                @foreach(var data in Model.KardexList.Where(d=>d.StoreProduct.Store.Name == store.Key))
                {
                    <tr>
                        <td class="text-center">@data.RegisterDate.ToShortDateString()</td>
                        <td class="text-center">@data.Type</td>
                        <td>@data.Detail</td>
                        <td class="text-center">@data.LastStock</td>
                        @if(data.Type == "Input")
                        {
                            <td class="text-center">@data.Quantity</td>
                        }
                        else
                        {
                            <td class="text-center">--</td>
                        }
                        @if (data.Type == "Output")
                        {
                            <td class="text-center">@data.Quantity</td>
                        }
                        else
                        {
                            <td class="text-center">--</td>
                        }

                        <td class="text-center">@data.Stock</td>
                        <td class="text-center">@data.CostUnit</td>
                        <td class="text-center">@data.Total.ToString("###,#00.00")</td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <div class="co-12 border-bottom p-0">
            <h3 class="text-primary text-center">No hay datos</h3>
        </div>
    }
    <div class="row mb-2">
        <div class="form-group col-md-6 mt-2">
            <a asp-action="CreateKardex" class="btn btn-primary">Nueva Consulta</a>
            <a asp-action="PrintKardex" asp-route-startdate="@Model.StartDate"
               asp-route-lastdate="@Model.LastDate"
               asp-route-productId="@Model.Product.Id" class="btn btn-primary">
            <i class="bi bi-printer"></i>Imprimir</a>
           
            <a asp-action="Index" class="btn btn-primary">Salir</a>
        </div>
    </div>
</div>
